:root {
    --primary-color: #38690D;
    --secondary-color: #FFD700;
    --accent-color: #FF0000;
    --black: #000000;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.hero {
    position: relative;
    text-align: center;
    color: var(--black);
}

.hero-image {
    width: 100%;
    height: auto;
}

.data, .weather {
    background-color: var(--secondary-color);
    border: 1px solid var(--black);
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: var(--primary-color);
}

.weather-icon {
    font-size: 1.5rem;
    color: var(--primary-color);
}

footer {
    background-color: var(--accent-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
}
